<div class="container">
  <div class="smart-process">
    <h2>پردازش هوشمند معتمد کسب و کار</h2>
    <p>
      در راستای اجرای قانون پایانه های فروشگاهی و سامانه مودیان مصوب
      <span> 1398/08/11 </span>
      <span> 1399/03/13 </span>
      و همچنین آیین نامه اجرایی موضوع ماده
      <span> 26 </span>
      قانون مذکور مصوب ، سازمان امور مالیاتی کشور به منظور استقرار نظام یکپارچه
      و فراگیر پایانه‌های فروشگاهی و سامانه مودیان اقدام به برگزاری فراخوان جهت
      شناسایی شرکت ذیصلاح و دارای شرایط لازم نموده تا بر اساس ضوابط و مقررات
      آیین‌نامه اجرایی مذکور و در چهارچوب مقررات مربوطه از طریق مرکز تنظیم
      مقررات پایانه‌های فروشگاهی و سامانه مودیان مالیاتی پس از دریافت درخواست
      متقاضیان و ارزیابی ایشان نسبت به صدور مجوز فعالیت به عنوان "شرکت معتمد
      ارائه کننده خدمات مالیاتی" اقدام نماید.
    </p>
    <p>
      در این راستا، شرکت پردازش هوشمند معتمد کسب‌و‌کار (سهامی خاص) با برند تجاری
      تکسا، با اخذ موافقت اصولی نوع اول در فروردین ماه
      <span> 1401 </span>
      ، از وزارت امور اقتصادی و دارایی/سازمان امور مالیاتی کشور جهت تاسیس شرکت
      معتمد ارائه‌دهنده خدمات مالیاتی در اداره ثبت شرکت‌ها و موسسات غیر تجاری
      استان تهران با شناسه ملی
      <span> 14012467598 </span>
      و شماره ثبت
      <span> 616501 </span>
      و با سرمایه ثبتی 10میلیارد ریال به ثبت رسیده است.
    </p>
    <p>
      مطابق با الزامات سازمان، شرکت معتمد تکسا جهت تحقق اهداف سازمان و شرکت،
      اقدام به تجهیز موارد مورد نیاز مطابق با دستورالعمل‌ها و آئین‌نامه‌های
      ابلاغی نموده است تا بعد از ممیزی سازمان از شرکت و دریافت مجوز فعالیت نوع
      اول ، فعالیت‌های خود را مطابق قوانین و دستورالعمل‌ها شروع نماید. در این
      راستا پس از ثبت شرکت، تامین زیرساخت های نرم افزاری و سخت افزاری، تامین
      نیروی انسانی حداقلی و طراحی و تولید پلتفرم مورد نیاز برای مجوز نوع اول،
      مدارک خود را در سایت مرکز تنظیم مقررات سازمان امور مالیاتی بارگزاری نموده
      و در انتظار تائید و اخذ مجوز شرکت معتمد از سوی سازمان می‌باشد.
    </p>
  </div>
</div>
