/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.mat-expansion-indicator::after {
  color: #12b48b !important;
  width: 4px;
  height: 4px;
  display: flex;
  align-items: safe;
  justify-content: baseline;
}
.mat-expansion-indicator {
  /* background-color: #12b48b; */
}
