nav .taksa-logo {
  /* background-color: red; */
  width: 85px;
  height: 75px;
  margin: 0 15px;
}
.navbar {
  padding: 16px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: #204066;
}
.links a {
  margin-left: 32px;
}
header {
  font-family: IRANSansX;
  display: flex;
  flex-direction: column;
  margin: 0 151px;
  flex-wrap: nowrap;
}
.signin-btn {
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  background-color: #204066;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
}
/* .img-slider {
  background-image: url(../../assets/shared/images/Image-slider.png);
  background-repeat: no-repeat;
  width: 1440px;
  height: 1000px;
  margin: auto;
} */
hr {
  border: 1px solid #fff;
}
.head {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  box-shadow: 0 0 10px 0 rgba(32, 82, 149, 0.25);
}
.container {
  /* background-image: url(../../assets/shared/images/Image-slider.png);
  background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  height: 849px;
}
.signin-btn:hover,
.links a:hover {
  cursor: pointer;
}
.articles {
  margin-top: 178px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: IranSansX;
}
.articles .article-header {
  color: #204066;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-bottom: 48px;
}
.articles h5 {
  color: #3d3d3d;
}
.free-sign-up li div {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.free-sign-up li {
  list-style: none;
}
