<div class="container">
  <div class="head">
    <header>
      <nav class="navbar">
        <img
          class="taksa-logo"
          src="../../assets/shared/images/taksa-03.svg"
          alt="taksa.logo"
        />
        <div class="links">
          <!-- <a href="#">خانه</a>
          <a href="#">خدمات</a>
          <a href="#">تعرفه</a>
          <a href="#">آموزش</a>
          <a href="#">خبرنامه</a>
          <a href="#">پشتیبانی</a>
          <a href="#">درباره ما</a> -->
          <a> خانه </a>
          <a> خدمات </a>
          <a> تعرفه </a>
          <a> آموزش </a>
          <a> خبرنامه </a>
          <a> پشتیبانی </a>
          <a> درباره ما </a>
        </div>
        <input class="signin-btn" type="button" value="ورود | ثبت‌نام" />
      </nav>
      <hr />
    </header>
    <!-- <div class="img-slider"></div> -->
  </div>
</div>
